body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333333;
}

h3 {
  margin-top: 0px;
}

p {
  margin: 0;
}

.footer {
  font-size: 0.9rem;
}